@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@layer base {
    body {
        @apply bg-gradient-to-r from-backgroundColor via-purpleColor to-secondary
    }
    title {
        @apply uppercase
    }
    h2 { 
        @apply text-lg font-sans font-bold text-orangeColor uppercase
    }

    li {
        @apply text-secondary
    }

    p {
        @apply text-white text-center 
    }
}